<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Basic</title>

    <style>
        .box{
            background-color: purple;
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div id="app">
        {{greeting}}
        <input type="text" v-model="greeting">

        <div v-if="isVisible" class="box"></div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    greeting: 'selamat siang',
                    isVisible: false
                }
            },
        });
        app.mount('#app');
    </script>
</body>
</html>